*{
    margin: 0;
    padding: 0;
}

body, html{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: #2b4162;
    background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);

}


#playerForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

input{
    border-radius: 5px;
    border: 2px solid black;
    padding: 3px 7px;
}

input:hover, input:focus{
    border: 2px solid black;
    box-shadow: inset 0 0 4px black;
}

.playerSet{
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 1.5rem;
    color: white;
}

.player{
    background-color: #2B4162;
    padding: 10px;
    border-radius: 5px;
}

fieldset{
    padding: 0px 7px;
}

#startGame{
    font-size: 1.5rem;
    width: 100%;
    
}

#startGame, #closeButton {
    background-color: white;
    border-radius: 5px;
    border: 2px solid black;
    padding: 3px 7px;
}

#startGame:hover, #closeButton:hover{
    box-shadow: inset 0 0 7px black;
}

.content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.currentPlayer{
    color: white;
    font-size: 2rem;
}

.board{
    /* width: 50vw; */
    display: grid;
    grid-template-columns: 150px 150px 150px;
    gap: 0;
    align-items: center;
}

.tile{
    border: 1px solid black;
    background-color: white;
    color: black;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

.tile:hover{
    box-shadow: inset 0 0 10px black;
}

.scoreboard{
    font-size: 2rem;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.playerScoreCard1, .playerScoreCard2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer{
    display: flex;
    justify-content: center;
    color: white;
    bottom: 0;
    left: 0;
    right: 0;
}

/*have to add open or else it will always have the dialog open bs of display flex*/
#resultDialog[open]{
    background-color: #2B4162;
    color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding: 10px 50px;
    border-radius: 5px;
    border: 3px solid black;
}

#resultDialog::backdrop{
    backdrop-filter: blur(3px);
}

#closeButton{
    width: 80%;
    font-size: 1.5rem;
}